<mat-toolbar class="brand-toolbar">

  <span class="brand-text">Musambi</span>

  <span class="spacer"></span>

  <button mat-icon-button (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>

</mat-toolbar>

<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link" (click)="onClose()">
    <mat-icon matListItemIcon>home</mat-icon>
    <div matListItemTitle>Home</div>
  </a>

  <a mat-list-item routerLink="/sis" routerLinkActive="active-link"  (click)="onClose()">
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <div matListItemTitle>Overview</div>
  </a>

  <a mat-list-item routerLink="/acm" routerLinkActive="active-link" (click)="onClose()">
    <mat-icon matListItemIcon>groups</mat-icon>
    <div matListItemTitle>Student Hub</div>
  </a>

  <a mat-list-item routerLink="/log" routerLinkActive="active-link" *hasPermission="'log:read'" (click)="onClose()">
    <mat-icon matListItemIcon>event_note</mat-icon>
    <div matListItemTitle>Logistics (LOG)</div>
  </a>
</mat-nav-list>

<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link" (click)="onClose()">
    <mat-icon matListItemIcon>extension</mat-icon>
    <div matListItemTitle>Services</div>
  </a>

  <a mat-list-item routerLink="/sis" routerLinkActive="active-link"  (click)="onClose()">
    <mat-icon matListItemIcon>credit_card</mat-icon>
    <div matListItemTitle>Billing</div>
  </a>

  <a mat-list-item routerLink="/acm" routerLinkActive="active-link" (click)="onClose()">
    <mat-icon matListItemIcon>settings</mat-icon>
    <div matListItemTitle>Settings</div>
  </a>

  <a mat-list-item routerLink="/log" routerLinkActive="active-link" *hasPermission="'log:read'" (click)="onClose()">
    <mat-icon matListItemIcon>event_note</mat-icon>
    <div matListItemTitle>Logistics (LOG)</div>
  </a>
</mat-nav-list>
